#template_sidebar {
    font-size: 0.75rem;
}
#content, #template_sidebar {
    margin: 10px 0 0 0;
}
@media (min-width: 1200px) {
    .container {
        width: 1220px;
        max-width: 100%;
    }
}
* {
    border-radius: 0 !important;
}
.card {
    border-radius: 0;
}
.card-block, .card-header {
    padding: 1rem;
}
.card h4 {
    font-size: 1.15rem;
}
#brands .card-block {
    text-align: center;
}
.description {
    display: none;
}
.btn-marg {
    margin-right: 15px;
    margin-bottom: 15px;
}
.navbar-nav a.active {
    font-weight: bold;
    color: crimson !important;
}